<h1>{{title}}</h1>
<span class='movie-data'>Score: {{score}}% &middot; Release Date: {{moment release 'L'}}</span>

<h3>Actors:</h3>
<ul>
  {{#each actors}}
    <li>{{nameAndAge}}</li>
  {{/each}}
</ul>

