<div class='medium-8 columns medium-centered'>
  {{#if errorMessage}}
    <div data-alert class='alert-box alert'>
      <strong>Login failed: {{errorMessage}}</strong>
    </div>
  {{/if}}

  <div class='module'>
    <h1>Login</h1>

    <form {{action 'authenticate' on='submit'}}>
      {{input id='identification' placeholder='Username' value=identification}}
      {{input id='password' placeholder='Enter Password' type='password' value=password}}

      <button type='submit'>Login</button>
    </form>
  </div>
</div>

